@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
* {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}
strong {
  font-weight: bold;
}
